
.posts {
  position: relative;
}
.edit-btn {
  position: absolute;
  right: 10px;
  top: 10px;
  z-index: 1;
  text-decoration: none;
  width: 2.5rem;
  height: 2.5rem;
  background-color: var(--bg-main-color);
  color: var(--text-white-color);
  border-radius: 50%;
}
::ng-deep .p-paginator .p-paginator-pages .p-paginator-page.p-highlight{
  background-color: var(--bg-main-color);
  color: var(--text-white-color);
}
::ng-deep .p-skeleton{
  background-color: var(--bg-white-color);
}

