// PRIME NG
.p-input-icon-right > .p-inputtext {
  padding-left: 2.5rem !important;
  padding-right: 11px !important;
}

.p-input-icon-right > i:last-of-type {
  left: 0.75rem !important;
  right: inherit !important;
}

.p-input-icon-left > i:first-of-type {
  right: 0.75rem;
  left: initial !important;
}

.p-input-icon-left > .p-inputtext {
  padding-right: 2.5rem;
  padding-left: inherit !important;
}

.select-loading.p-input-icon-right > i:last-of-type {
  left: 2.5rem !important;
  right: inherit !important;
}

.select-loading.pe-4.p-input-icon-right > i:last-of-type {
  left: 4rem !important;
  right: inherit !important;
}

.p-dropdown .p-dropdown-label {
  padding: 10px 12px 10px 0px !important;
  line-height: 2 !important;
}

.p-dropdown .p-dropdown-clear-icon {
  left: 3rem !important;
  right: inherit !important;
}

.p-dropdown-panel .p-dropdown-header .p-dropdown-filter {
  margin-left: -0.75rem !important;
  margin-right: initial !important;
}
.p-dropdown-panel .p-dropdown-items .p-dropdown-item {
  text-align: right !important;
  direction: rtl !important;
}
