/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap");
@import "styles/scss/variables.scss";
@import "styles/scss/colors-classes.scss";
@import "styles/scss/scrollbar.scss";
@import "styles/scss/global-rules.scss";
@import "styles/scss/buttons.scss";
@import "styles/scss/form-field.scss";
@import "styles/scss/angular-material/form-field.scss";
@import "styles/scss/cust-style.scss";
@import "styles/scss/primeng/p-select.scss";

[dir="rtl"] {
  @import "~bootstrap/dist/css/bootstrap.min.css";
  @import "styles/scss/style-rtl/cust-rtl-style.scss";
  @import "styles/scss/style-rtl/p-select-rtl.scss";
}

body {
  font-family: "DM Sans", sans-serif !important;
  background-color: var(--body-color);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-snack-bar-container {
  background-color: #363636 !important;
  color: #fff;
}
