::ng-deep .p-dialog .p-dialog-content{
  background-color: var(--body-color);
}
::ng-deep .p-dialog .p-dialog-header{
  color: var(--text-dark-color);
  background-color: var(--body-color);
}
.form-control{
  background-color: var(--bg-white-color);
  color: var(--text-desc-color);
}
