:root {
  --text-main-color: #ff8e31;
  --bg-main-color: #ff8e31;
  --text-secondary-color: #74a6bd;
  --bg-secondary-color: #74a6bd;
  --text-second-color: #cdf0ff;
  --bg-second-color: #cdf0ff;
  --text-dark-color: #111;
  --bg-dark-color: #111;
  --text-white-color: #fff;
  --bg-white-color: #fff;
  --grey-900: #101010;
  --grey-700: #484848;
  --grey-400: #999999;
  --grey-100: #9c9c9c;
  --bg-input-color: #ffffff;
  --border-input-color: #f2f7fa;
  --text-desc-color: #8c95a3;
  --light-blue: #1071b821;
  --semi-light: #77a23b21;
  --light-warning: #f9bc6121;
  --light-pink: #f370701a;
  --semi-light-warning: #f2ca5a21;
  --light-green: #3ba28321;
  --bg-light-danger: #e5555530;
  --bg-light-gray: #8c95a330;
  --text-danger-color: #e55555;
  --body-color: #fafafa;

  --border-input-radius: 0.45rem;
  --border-button-radius: 0.55rem;
  --border-radius-card: 13px;
  --main-border-radius-shape: 13px;
  --border-color: #d7d7d7f7;
  --card-border-color: #8c95a336;
  --dropdown-link-color: #707070;
  --box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  --dashboard-border-radius: 6px;
}
